
<table *ngIf="list | async as data" class="mt-2 table table-primary table-striped">
<thead>
    <tr>
        <th scope="col">Index</th>
        <th scope="col">EmployeeId</th>
        <th scope="col">Enabled</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Change Role</th>
       <th scope="col">Change Access</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let d of (list | async); let i=index;">
        <th>{{i+1}}</th>
        <td>{{d.id}}</td>
        <td>{{d.enabled ? 'Yes' :'No'}}</td>
        <td>{{d.email}}</td>
        <td>{{d.role}}</td>   
        <td><select #mySelect name="changerole"  (focus)="onFocus(mySelect.value)" [(ngModel)]="d.role" class="form-select-sm mb-3">
            <option value="">Select the role</option>
            <option value="EMPLOYEE">EMPLOYEE</option>
            <option value="ADMIN">ADMIN</option>
            <option value="HR">HR</option>
        </select>
    <button (click)="updateRole(d)" class="btn btn-primary ms-2">Update</button>
    </td>

        <td>
            <button (click)="updateAccess(d)" class="btn btn-primary">{{d.enabled ? 'Disable':'Enable'}}</button>
        </td>

    </tr>

    </tbody>

</table>


<div *ngIf="message"
     class="alert alert-success">

   {{message}}

</div>

<div *ngIf="errorMessage"
     class="alert alert-danger">

   {{errorMessage}}

</div>