<div class="row mt-2">
  <div class="col-md-6">
    <div class="card">
        <div class="card-header bg-primary text-white">
Create Employee

<div *ngIf="message" class="alert alert-success" role="alert">
 {{message}}
</div>
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{errorMessage}}
</div>
        </div>
      <div class="card-body">
        <form #createForm="ngForm" (ngSubmit)="onSubmit(createForm)">
          <div class="mb-3">
            <label for="empname" class="form-label">EmployeeName</label>
            <input
              type="text"
              name="empname"
              id="empname"
              [(ngModel)]="createEmployeeRequest.employeeName"
              placeholder="Enter Employee Name"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              [(ngModel)]="createEmployeeRequest.email"
              placeholder="Enter Employee Email "
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input
              type="number"
              name="salary"
              id="salary"
              [(ngModel)]="createEmployeeRequest.salary"
              placeholder="Enter Employee Salary "
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="deptid" class="form-label">Department</label>
            <select
              class="form-select"
              (change)="onDepartmentChange()"
              name="departmentId"
              [(ngModel)]="selectedDepartmentId"
            >
              <option [ngValue]="null">Select Department</option>
              <option *ngFor="let dept of departments" [ngValue]="dept.id">
                {{ dept.name }}
              </option>
            </select>
            
          </div>

          <div class="mb-3">
              <label class="form-label" for="designation"
                >Enter Designation</label
              >
              <select
                class="form-select"
                name="designation"
                [(ngModel)]="createEmployeeRequest.designation"
              >
                <option [ngValue]="">Select Designation</option>

                <option
                  *ngFor="let designation of filteredDesignations"
                  [ngValue]="designation"
                >
                  {{ designation }}
                </option>
              </select>
            </div>

          <div class="mb-3">
            <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
