<div class="container mt-4">

    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card shadow">

                <div class="card-header bg-primary text-white">

                    <h4 class="mb-0">
                        Employee Profile
                    </h4>

                </div>

                <div class="card-body">

                    <table class="table table-bordered table-striped">

                        <tbody>

                            <tr>
                                <th width="40%">
                                    Employee Id
                                </th>

                                <td>
                                    {{employeeResponse.employeeId}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Employee Name
                                </th>

                                <td>
                                    {{employeeResponse.employeeName}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Email
                                </th>

                                <td>
                                    {{employeeResponse.email}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Designation
                                </th>

                                <td>
                                    {{employeeResponse.designation}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Department Id
                                </th>

                                <td>
                                    {{employeeResponse.departmentId}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Department Name
                                </th>

                                <td>
                                    {{employeeResponse.departmentName}}
                                </td>
                            </tr>

                            <tr>
                                <th>
                                    Salary
                                </th>

                                <td>
                                    {{employeeResponse.salary}}
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>

</div>