
<div class="mt-2">
    <h2 class="text-primary">Employees List</h2>
</div>
<table *ngIf="employeeResponse | async as data" class="table table-striped mt-2">
<thead>
    <tr>
        <th scope="col">Sl.No</th>
        <th scope="col">EmployeeId</th>
        <th scope="col">EmployeeName</th>
        <th scope="col">Email</th>
        <th scope="col">Salary</th>
        <th scope="col">Role</th>
        <th scope="col">DepartmentId</th>
        <th scope="col">DepartmentName</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let d of data; let i=index;">
        <td>{{i+1}}</td>
        <td>{{d.employeeId}}</td>
        <td>{{d.employeeName}}</td>
        <td>{{d.email}}</td>
        <td>{{d.salary}}</td>
        <td>{{d.designation}}</td>
        <td>{{d.departmentId}}</td>
        <td>{{d.departmentName}}</td>

         <td>
            <a (click)="editEmployeeDetails(d.employeeId)">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
        </a>
        </td>
        <td>
            <a (click)="deleteEmployee(d.employeeId)">
            <fa-icon [icon]="faTrash"></fa-icon>
        </a>
        </td>   
    </tr>

    </tbody>

</table>
